<!doctype html>

<html>
<head>
	<title>Outlts</title>
	<meta charset="utf-8">
	<!-- Makes page responsive to mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/overallStyle.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
</head>

<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container" id="main-navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="menu-btn">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
				<a class="navbar-brand" href="/home">Outlts</a>
        	</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" id="dropdown-list"> 
					<li><a href="/profile">Profile</a></li>
					<!-- <li><a href="/quests">Quests</a></li> -->
					<li><a href="/feed">Feed</a></li>
					<!-- <li><a href="/settings">Settings</a></li> -->
					<li><a href="/landing">Sign Out</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<!-- /navbar -->

	<div class="container" id="body">
		<div class="panel panel-default">
			<div class="panel-heading" id="panel-heading1">
				<h2>Daily Quests</h2>
			</div>
			<div class="panel-body">
				<a href="/upload"><div class="panel panel-default">
					<div class="panel-body">
						{{quests.0.title}}
					</div>
				</div></a>
				<a href="/upload"><div class="panel panel-default">
					<div class="panel-body">
						{{quests.1.title}}
					</div>
				</div></a>
				<a href="/upload"><div class="panel panel-default">
					<div class="panel-body">
						{{quests.2.title}}
					</div>
				</div></a>			
			</div>
		</div>
	</div>




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>