<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Outlts</title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom sytlesheet -->
	<link href="css/overallStyle.css" rel="stylesheet">
	<link href="css/newUser.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
  		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container" id="main-navbar">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button> -->
				<center><a class="navbar-brand">Outlts</a></center>
        	</div>
			<!-- <div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" id="dropdown-list"> 
					<li><a href="profile.html">Profile</a></li>
					<li><a href="quests.html">Quests</a></li>
					<li><a href="feed.html">Feed</a></li>
					<li><a href="settings.html">Settings</a></li>
					<li><a href="landing.html">Sign Out</a></li>
				</ul>
			</div> -->
		</div>
	</nav>
	<!-- /navbar -->

<!-- 	<div class="container" id="body">
		<div class="container" id="username-input">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Username</span>
				<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
			</div>
			<div class="input-group" id="password-input">
				<span class="input-group-addon" id="basic-addon1">Password</span>
				<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
			</div>
			<div class="input-group" id="password-input">
				<span class="input-group-addon" id="basic-addon1">Password</span>
				<input type="password" class="form-control" placeholder="Please enter confirm password" aria-describedby="basic-addon1">
			</div>
			<div class="input-group" id="password-input">
				<span class="input-group-addon" id="basic-addon1">Email</span>
				<input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
			</div>

		</div>
		<div class="container">
			<button class="btn btn-lg btn-block" id="login-btn" onclick="window.location.href ='home.html'">Create Account</button>
		</div>
	</div> -->
	
	<div class="container" id="body">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Username</label>
				<input type="text" class="form-control" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
<!-- 			<div class="form-group">
				<label for="exampleInputPassword1">Please confirm your password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div> -->

		</form>
	</div>

	<div class="container">
		<button class="btn btn-lg btn-block" id="login-btn" onclick="window.location.href ='/home'">Create Account</button>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>