<!doctype html>

<html>
<head>
	<title>Outlts</title>
	<meta charset="utf-8">
	<!-- Makes page responsive to mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container" id="main-navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="menu-btn">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
				<a class="navbar-brand" href="/home">Outlts</a>
        	</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" id="dropdown-list"> 
					<li><a href="/profile">Profile</a></li>
					<!-- <li><a href="/quests">Quests</a></li> -->
					<li><a href="/feed">Feed</a></li>
					<!-- <li><a href="/settings">Settings</a></li> -->
					<li><a href="/landing">Sign Out</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<!-- /navbar -->

	<p style="margin-top:100px">Quests</p>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>